apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: {{ awx_namespace }}
spec:
  service_type: ClusterIP
  ingress_type: none
  hostname: {{ awx_hostname }}

  admin_user: {{ awx_admin_user }}
  admin_password_secret: awx-admin-password

  postgres_storage_class: nfs
  postgres_storage_requirements:
    requests:
      storage: 8Gi

  projects_persistence: true
  projects_storage_class: nfs
  projects_storage_size: 10Gi

  web_replicas: {{ awx_web_replicas }}
  task_replicas: {{ awx_task_replicas }}

---
apiVersion: v1
kind: Secret
metadata:
  name: awx-admin-password
  namespace: {{ awx_namespace }}
type: Opaque
stringData:
  password: "{{ awx_admin_password }}"
