[defaults]
inventory = ./inventory/hosts.ini
remote_user = svc_bsa
host_key_checking = False
retry_files_enabled = False
timeout = 30
forks = 20
gathering = smart
fact_caching = memory
stdout_callback = default
bin_ansible_callbacks = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
